@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('fonts/bebasneue/subset-bebasneuebold.woff2') format('woff2'),
        url('fonts/bebasneue/subset-bebasneuebold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('fonts/bebasneue/subset-bebasneueregular.woff2') format('woff2'),
        url('fonts/bebasneue/subset-bebasneueregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

